.iflogo {
	height: 29px;
}

#watccol, #disccol, #datecol {
	cursor: pointer;
}

.liveclasses #namecol div {
	width: 250px;
}

.liveclasses td:nth-child(6) {
	white-space: nowrap;
}

.sort::after {
	content: ' \F0360';
	font-family: 'Material Design Icons';
}

.sortrev::after {
	content: ' \F035D';
	font-family: 'Material Design Icons';
}